body{
    margin: 0;
    padding: 0;
    background-color: rgb(108, 187, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Icon{
    width: 80px;
    height: 80px;
    padding-right: 10px;
    object-fit: contain;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    background-color: rgb(10, 88, 10);
    color: white;
    border: 2px solid rgba(255,255,255,0.6);
}

#bar{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 14px;
    padding-right: 10px;
}

#NOTICIAS{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
    padding: 18px;
    background-color: rgb(169, 192, 161);
}

.Escalação{
     max-width: 900px;
    margin: 0 auto 20px auto;
    padding: 16px;
    background-color: rgb(14, 54, 6);
    color: white;
    border-radius: 16px;
}
.Escalação h2{
    margin: 0 0 14px;
    text-align: center;
    font-size:  18px;
}


.campo{
     display: flex;
    flex-direction: column;
    gap: 14px;
}
.jogador{
     display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}
.jogador img{
     width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    margin-bottom: 4px;
}
.linha {
     display: flex;
    gap: 18px;
    justify-content: center;
}


.noticia{
    width: 340px;
    background-color: rgb(14, 54, 6);
    color: white;
    border-radius: 16px;
    border: 2px solid rgba(255,255,255,0.25);
    padding: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.noticia h3{
    margin: 10px 0 6px;
    font-size: 16px;
}

.noticia p{
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    opacity: 0.95;
}

.img_noticia{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid rgba(255,255,255,0.8);
    image-rendering: auto;
}




