body{

    margin: 0px;
    padding:0px;
    background-color: rgb(108, 187, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon{

    width: 120px;
    height: 120px;
    padding-right: 10px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(10, 88, 10);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#bar{

padding-right: 10px;

}

#NOTICIAS{

text-align: center;
justify-content: center;
padding: 10px;
display: flex;

}
.noticia{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
background-color:  rgb(10, 88, 10);
border-radius: 15px;
border: 10px solid   rgb(10, 88, 10) ;
}

.img_noticia {

    width: 500px;
    height: 500px;
    border-radius: 15px;
    border: 5px solid white;

}