body{

    margin: 0px;
    padding:0px;
    background-color: rgb(108, 187, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon{

    width: 120px;
    height: 120px;
    padding-right: 10px;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(10, 88, 10);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 10px solid white;
}
#bar{

padding-right: 10px;
text-align: end;

}

#NOTICIAS{

text-align: center;
justify-content: space-around;
padding: 5px;
display: flex;
flex-wrap: wrap;
background-color: rgb(255, 255, 255);

}
.noticia{

font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
border-radius: 20px;
border: 5px solid   rgb(14, 54, 6);
background-color:rgb(14, 54, 6);
padding: 5px;
}

.img_noticia {

    width: 900px;
    height: 500px;
    border-radius: 15px;
    border: 5px solid white;

}